//  START OF SKILLS STYLES

.skills {
    height: 100vh;
    background: url('../../../assets/texture.jpg');
}

.skillsContainer {
    padding: 50px;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 75px);
    grid-gap: 50px;
    text-align: center;
}

.logo {
    font-size: 7.5rem;
    transition: all 0.4s ease-in;
    &:hover {
        color: var(--primary);
        p {
            opacity: 1;
            color: var(--black);
        }
    }
    p {
        font-size: 2.0rem;
        font-family: "Lato", sans-serif;
        margin: 10px 0;
        opacity: 0;
        transition: all 0.4s ease-in;
        &:last-child {
            font-weight: 400;
        }
    }
}

//  END OF SKILLS STYLES

/////////////////////////////////////////////
//              MEDIA QUERIES              //
/////////////////////////////////////////////

@media (max-width: 800px) {
    .skillsContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 75px);
    }
} //    END OF 800PX MEDIA QUERY

@media (max-width: 650px) {
    .logo {
        font-size: 5.0rem;
        p {
            font-size: 1.6rem;
        }
    }
} //    END OF 650PX MEDIA QUERY

@media (max-width: 550px) {
    .skillsContainer {
        padding: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 75px);
    }
} //    END OF 500PX MEDIA QUERY